body {
    margin: 0px;
    padding: 0px;
}

.container {
    background-color: lawngreen;
    display:flex;
    justify-content:start;
    justify-content: space-evenly;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    margin: 0px; 
    padding: 0px;
}

.contain1{
    background-color: brown;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 30px;
    text-align: center;
}  


